GDE_BENZ_BASE_URL=https://gdebenz.ru/
BOT_TOKEN=8789222893:AAHajg_xuGeQY3fy1LUo1Ik-2r1VkGay6hc

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_HOST_PORT=5432

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=localhost
RABBITMQ_HOST_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
