GDE_BENZ_BASE_URL=https://gdebenz.ru/
TG_BOT_TOKEN=replace-me

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_HOST_PORT=5432

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_HOST_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
